# Database Configuration
DB_HOST=buif8mprfkfyazp9pvrn-mysql.services.clever-cloud.com
DB_PORT=3306
DB_NAME=buif8mprfkfyazp9pvrn
DB_USER=uyna0wp8ir8ws061
DB_PASSWORD=BgFDUEdqxhvULYMjdWIa

# Server Configuration
PORT=8080
